    <!--<div class="top-bar">
      <h3 class="usernameTxt">Chat Room</h3>
      </div>
      <div class="text-container">
  <div class="container">
      <!<div class="text-box" *ngFor="let message of messages">-->
       <!--<div class="sent">Tudor: Bine te am gasit!</div>
        <div class="income">Andrei: Am ajuns acum acasa!</div>
        <div class="income">Andrei: Am ajuns acum acasa!</div>
        <div class="income">Andrei: Am ajuns acum acasa!</div>
        <div class="sent">Tudor: Cum esti?</div>
        <div class="sent">Tudor: Ce faci?</div>-->
      
      <!--<div [ngClass]="message.type == 'sent'? 'sent':'income' ">{{message.fromUsername}}: {{message.text}}</div>-->
      
      <!--</div>-->
      <!--</div>
  <div class="input-box input-group">
        <input type="text" class="form-control" placeholder="Search for..." #message>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="sendMessage(message.value)">Send Message</button>
        </span>
      </div>
  </div>-->


  <div class="container">
    
    <div class="box">
      
      <h1 class="title">Chat Room</h1>
      <hr>
      
      <div class="text-box">

        <div class="sent">Tudor: Bine te am gasit!</div>
        <div class="income">Andrei: Am ajuns acum acasa!</div>
        <div class="income">Andrei: Am ajuns acum acasa!</div>
        <div class="income">Andrei: Am ajuns acum acasa!</div>
        <div class="sent">Tudor: Cum esti?</div>
        <div class="sent">Tudor: Ce faci?</div>
        <div class="sent">Tudor: Cum esti?</div>
        <div class="sent">Tudor: Ce faci?</div>
        <div class="sent">Tudor: Cum esti?</div>
        <div class="sent">Tudor: Ce faci?</div>

      </div>

      <div class="field has-addons input-box">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="message">
        </p>
        <p class="control">
        <button class="button is-primary">SEND</button>
        </p>
      </div>
    </div>
  
  </div>